* {
	box-sizing: border-box;
	font-size: 12px;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Bold.woff') format('woff'),
    url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    }
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Italic.eot');
    src: url('../fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Italic.woff') format('woff'),
    url('../fonts/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
body {
	margin:0;
	padding-left:120px;
	font-family: 'Open Sans', 'Roboto', 'sans-serif';
}
table {
	line-height: 1;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: none;
}
.export-link {
	border: 1px solid black;
	padding: 5px;
	border-radius: 5px;
	background-color: rgb(210, 210, 0);
}
h3 {
	margin: 0;
}
.extLink {
	font-weight: bold;
}
.container-documentation {
	display: flex;
}
.book-aside {
	width: 20%;
	min-width: 200px;
	margin-right: 5px;
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 5px;
}
.book-aside:last-child {
	margin-left: 5px;
}
.btn_delete {
	margin-right: 2px;
	margin-left: 2px;
}
.list {
	padding: 0;
	list-style: none;
}
.list li {
	margin-bottom: 5px;
}
.list li:hover {
	background-color: beige;
}
.list-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.list-item-name {
	cursor: pointer;
	word-break: break-all;
}
.pages-list {
	max-height: 300px;
	margin-bottom: 5px;
	overflow-y: auto;
}
.button-book {
	cursor: pointer;
	margin-right: 2px;
}
.page-name {
	display: flex;
	margin-bottom: 5px;
	align-items: center;
}
.page-name-edit {
	flex: auto;
	padding: 5px;
	margin-left: 5px;
	border: 1px solid lightgray;
	border-radius: 5px;
}
.container-search {
	margin-top: 10px;
}
.search-result {
	margin-top: 10px;
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 16px 32px;
	max-height: 300px;
	overflow-y: auto;
}
.search-result-item {
	padding: 10px 16px;
	border-left: 3px solid #206ea7;
	margin-bottom: 5px;
}
.search-result-item:hover {
	background-color: #f2f2f2;	
}
.search-type {
	font-style: italic;
}
.preview-html {
	margin: 10px 5px;
	color: #575757;
}
#inputQuery	{
	border: 1px solid rgba(255,255,255,.2);
	border-radius: 40px;
	background-color: #e5e5e5;
	padding: 10px;
	width: 300px;
	max-width: 100%;
}
.table td {
	vertical-align: middle;
}
.table.mor th.center, .table.mor td.center {
	vertical-align: middle;
	text-align: center;
}
.table.mor tr.thead > td {
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}
.mor-bg-rose {
	background-color: #ffc7ce;
}
.mor-bg-lellow {
	background-color: #fff2cc;
}
.mor-bg-lgray {
	background-color: #bfbfbf;
}
.mor-bg-lblue {
	background-color: #bdd7ee;
}
.mor-bg-sblue {
	background-color: #9dc3e6;
	padding: 0;
}
.mor-vendor-part-container {
	position: relative;
}
.mor-part-autocomplete {
	position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}
.mor-part-autocomplete li {
	padding: 8px;
	cursor: pointer;
}
.mor-part-autocomplete li:hover {
	background-color: #f0f0f0;
}
.fs-18 {
	font-size: 18px;
}
.fs-28 {
	font-size: 28px;
}
.table.dataTable.compact thead th {
	padding-left: .3rem;
}
.table.dataTable.compact thead th.th-small {
	padding-right: .3rem;
}
.table.dataTable.compact tbody td {
	padding: .3rem;
}
.menu {
	overflow-y: auto;
	background:#363636;
	color:#fff;
	height:100vh;
	width:120px;
	position:fixed;
	top:0;
	left:0;
	z-index:5;
	outline:none;
}
.menu ul{
	list-style:none;
	padding:0.5em 0;
	margin:0;
}
.menu li{
	padding:0.4em 1em 0.4em 1em;
	font-size:1.125rem;
	font-weight:normal;
	background-repeat:no-repeat;
	background-position:left 15px center;
	background-size:auto 20px;
	transition:all 0.15s linear;
	cursor:pointer;
}
.menu li:hover {
background-color:rgba(0,0,0,0.1);
}
.menu .children-menu{
	margin-left: 10px;
	font-size:1rem;
}
main {
  	position:relative;
	height:100vh;
	padding: 20px;
}
.section, .set-rights {
	display: none;
}

p {
	margin: 0;
}
.cursor-pointer {
	cursor: pointer;
}
.template-link:hover {
	text-decoration: none;
}
.template-link img {
	width: 18px;
}
.app-container {
	margin: auto;
}
.modify-container {
	border-radius: 6px;
}
/* .section.status {
	font-size: 12px;
} */
.tickets-container {
	margin-top: 20px;
}
.ticket-title, .ticket-title-status, .ticket-title-excel-form, .form-width { 
	width: 100%;
}
.task-ticket, .task-ticket-excel, .table-statistics {
	margin-bottom: 4px;
	padding: 2px;
	padding-left: 5px;
	word-wrap: break-word;
	border-radius: 6px;
}
.period-select, .statistics-buttons {
	float: left;
	margin-bottom: .5rem;
}
table.devices-all-table {
	margin-top: 10px;
}
.switch-services {
	margin-left: 40px;
}
.mosaic-top, .mosaic-filters {
	display: flex;
	justify-content: space-between;
}
.mosaic-buttons {
	float: left;
  	width: 40%;
}
.inventory-filters {
	position: relative;
	display: inline-block;
}
.inventory-filters-list {
	position: absolute;
	width: 100%;
	margin-top: 2px;
	background-color: #f0f0f0;
	border: 1px solid #ddd;
}
.inventory-filters-list ul {
	padding: 0;
}
.filter-one {
	cursor: pointer;
}
.comments-brief {
	display: flex;
	justify-content: space-between;
}
.comments-text {
	margin-bottom: 5px;
	border-radius: 1px;
  	border: 1px solid #ddd;
	height: 200px;
  	overflow-y: auto;
}
.comment-text {
	border-bottom: 1px dashed;
}
.comment-new {
	width: 100%;
}
.comment-date {
	margin-right: 5px;
 	font-weight: bold;
}
.question-dialog-import{
	overflow-y: auto;
	height: 30rem;
}
.table-controls {
	/* margin-top: 5px; */
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}
.excel-menu {
	margin-top: 10px;
}
.action-button{
	margin-left: 2px;
	margin-right: 2px;
}

/* .task-ticket-excel .ticket-id {
	width: 5%;
}
.task-ticket-excel .ticket-date, .task-ticket-excel .ticket-name, .task-ticket-excel .ticket-status {
	width: 10%;
}
.task-ticket-excel .ticket-reference {
	width: 15%;
}
.task-ticket-excel .ticket-oracle, .task-ticket-excel .ticket-capop {
	width: 7%;
}
.task-ticket-excel .ticket-title-table {
	width: 30%;
}
.task-ticket-excel .text-center {
	width: 3%;
} */
.task-ticket {
	background-color: rgb(245, 247, 196);
	border: 1px solid rgb(223, 227, 45);
}
.task-project {
	display: inline;
	/* font-weight: bold; */
}
.task-footer {
	text-align: right;
	font-size: 0.8em;
	padding-right: 1em;
}
.file-input-hidden {
	display: none;
}
.file-input-show {
	cursor: pointer;
}
hr.dotted {
	border-top: 3px dotted #bbb;
	width: 100%;
	cursor: pointer;
}
.documentation-tokens {
	display: flex;
	flex-wrap: nowrap;
}
.triangle {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	margin: auto;
	cursor: pointer;
}

.triangle-down {
	border-top: 10px solid #555;
}

.triangle-up {
	border-bottom: 10px solid #555;
}

.divider-arrow {
	display: flex;
}

.text-area {
	height: 100px;
	overflow-y: auto;
}
.attachments-header {
	font-weight: bold;
}
.file-delete-container {
	font-size: 14px;
}
.file-download {
	cursor: pointer;
}
.file-delete {
	width: 18px;
	cursor: pointer;
}
.icon {
	width: 18px;
}
.icon-edit, .icon-excel {
	width: 18px;
}
/* .icon-edit-sm, .icon-delete-sm {
	width: 16px;
} */
fieldset {
    border-radius: 5px;
    border: 1px solid #ddd;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    /* padding: 5px 10px 10px 10px; */
	padding: 5px;
    margin-bottom: 10px;
}
legend {
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    font-size: larger;
}
input.mop,
select.mop,
textarea.mop,textarea.mor,
input.mor,
select.mor {
    vertical-align: middle;
    padding: 5px;
    width: 100%;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
#project-groups {
	vertical-align: middle;
    padding: 5px;
    width: 100%;
	height: 120px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.efcr2 input.mop,
.efcr2 select.mop,
.efcr2 textarea.mop {
	padding-right: 2px;
	padding-left: 2px;
}
input.mop.editOption{
    position: relative;
	width: calc(100% - 20px);
	height: 24px;
	top: -26px;
	left: 2px;
	border: 0;
	padding-left: 5px;
}
.select-btns {
    margin-bottom: 2px;
}
.ogpa-new {
    width: 80% !important;
}
button.mop, button.mor, .btn-devices {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font: 1.25rem sans-serif;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 0.75rem 1.25rem;
    margin: 0;
    border: none;
}
button[type="submit"], .btn-devices {
    background-color: hsl(213, 73%, 50%);
    color: white;
}
.btn-devices-export {
	background-color: hsl(152, 50%, 50%);
}
button[type="submit"].edit {
    background-color: hsl(152, 50%, 50%);
}
button[type="reset"] {
    /* text-decoration: underline; */
    margin-left: 1rem;
}
button[type="button"] {
    background-color: hsl(152, 50%, 50%);
    color: white;
    margin-top: 10px;
}
button[type="button"].mor {
	margin-top: 0;
}
button[type="button"].action-group {
    background-color: hsl(152, 50%, 50%);
    color: white;
	border-radius: 50%;
	margin-top: 0;
    width: 20px;
    height: 20px;
    padding: 0;
}
button[type="button"].btn-danger {
	background-color: #dc3545;
	margin-left: 1rem;
}
button[type="button"].import-json {
    background-color: hsl(33, 50%, 50%);
    color: white;
    margin-top: 10px;
}
button:active {
    -webkit-box-shadow: inset 1px 1px 10px #333;
    -moz-box-shadow:    inset 1px 1px 10px #333;
    box-shadow:         inset 1px 1px 10px #333;
}
button.action {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 0;
}
button.action.small {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 0;
}
button.pressed {
    /* box-shadow: 4px 4px 5px #000; */
    box-shadow:         inset 1px 1px 10px #333;
    transition: all .5s ease;
}
.container {
    max-width: 1024px;
	margin-left: 0;
	padding: 0;
}
.counter {
    position: fixed;
    top: 0;
    right: 0;
    margin: 5px;
    width: 100px;
    border: 1px solid #ddd;
	background-color: #ff0000;
}
.counter-pb {
    padding: 5px;
    background-color: #7cec1c;
    width: 0%;
    text-align: center;
    font-weight: bold;
	font-size: 10px;
}
.buttons {
	margin-bottom: 10px;
}
.param {
    margin-bottom: 10px;
    padding-right: 5px;
}
.param.efcr2 {
	display: inline-table;
	padding-right: 0;
}
.w2 {
	width: 2%;
}
.w3 {
	width: 3%;
}
.w5 {
	width: 5%;
}
.w6 {
	width: 6%;
}
.w8 {
	width: 8%;
}
.w10 {
	width: 10%;
}
.w12 {
	width: 12%;
}
.w14 {
	width: 14%;
}
.param-20 {
    width: 20%;
}
.param-fourth, .param-25 {
    width: 25%;
}
.param-third {
    width: 33%;
}
.param-half, .param-50 {
    width: 50%;
}
.param-full, .param-100 {
    width: 100%;
}
.param-row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.param-row.groups-row {
	align-items: start;
}
.param-row-single {
	width: 100%;
    display: flex;
}
.param-row-efcr2 {
	width: 100%;
}
.param-row button {
	margin-right: 5px;
}
.button-clone {
	position: relative;
 	top: 30px;
}
.hidden {
    display: none;
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 2px;
	bottom: 1px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
	-webkit-transform: translateX(18px);
	-ms-transform: translateX(18px);
	transform: translateX(18px);
}
input.text {
    border: none;
    background-color: inherit;
    outline: none;
}
input:read-only {
    outline: none;
}
.slider.round {
    border-radius: 20px;
}
  
.slider.round:before {
    border-radius: 50%;
}
.inventory-head {
	margin-bottom: 5px;
	padding: 5px;
	font-weight: bold;
	color: #495057;
	background-color: #e9ecef;
}
.inventory-tag {
	border: 1px solid #d5d5d5;
	padding: 5px;
	border-radius: 5px;
	display: inline-block;
	overflow: hidden;
}
.inventory-tag a {
	margin-left: 10px;
}
.inventory-tag.new-tag {
	width: 200px;
}
.editable.new-tag {
	border: 1px solid #d5d5d5;
	padding: 5px;
	border-radius: 5px;
	display: inline-block;
	overflow: hidden;
	width: 100px;
}
.editable.new-tag[data-name^="hw_eo"],
.editable.new-tag[data-name^="sw_eo"],
.editable.new-tag[data-name="ca_year"]
{
	width: 60px;
}
.t-efcr .editable.new-tag {
	width: 100%;
}
a>img:hover  {
	background-color: gray;
}
.bundle-link {
	align-self: end;
	margin-left: 100px;
	text-decoration: underline;
}

.groups-mop {
	display: flex;
}
.list {
  display: flex;
  flex-direction: column;
  width: 100px;
}
.projects-full-list, .projects-list.list, .project-groups.list {
	width: 100%;
}
.groups-dropzone {
/* background-color: #6DB65B; */
  flex-basis: 100%;
  flex-grow: 1;
  padding: 5px;
}
/* .group-draggable {
  background-color: #4AAE9B;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
} */
.project-brief-data {
	display: none;
	/* display: flex; */
	align-items: baseline;
}
.project-brief-label {
	margin-right: 5px;
	/* width: 100px; */
}
.project-brief-input {
	margin-right: 10px;
	width: 200px;
}
/* #project-brief-description {
	margin-right: 10px;
	overflow-wrap: break-word;
	width: 400px;
} */
.project-header {
	margin-right: 5px;
	font-weight: bold;
	width: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
}
.project-info {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	overflow: hidden;
}
.project-overflow-cut {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
.project-overflow-cut.overflow-line-1 {
	-webkit-line-clamp: 1;
}
.project-info.expanded {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #ddd;
}
.project-band {
	position: relative;
	display: flex;
	border-bottom-style: solid;
	border-bottom-color: #ddd;
	border-bottom-width: 1px;
	margin-bottom: 10px;
}

.project-activity {
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-weight: bold;
	text-align: center;
	width: 100px;
	cursor: pointer;
}
.project-activity.project-activity-end{
	display: flex;
 	align-items: center;
}
.project-activity-date {
	font-weight: normal;
}

.project-activity-graph {
	display: flex;
	align-items: center;
}

.project-activity-circle {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.project-activity-circle-end {
	width: 8px;
	height: 8px;
}

.project-activity-circle span {
	font-size: 16px;
	color: white;
}

.project-activity-circle.ready {
	background-color: hsl(152, 50%, 50%);
}
.project-activity-circle.process {
	background-color: hsl(213, 73%, 50%);
}
.project-activity-circle.waiting {
	background-color: hsl(0, 0%, 70%);
}

.project-activity-line {
	width: 100%;
	height: 2px; 
	margin-left: 0px;
}

.project-activity-line.ready {
	background-color: hsl(152, 50%, 50%);
}
.project-activity-line.process {
	background-color: hsl(213, 73%, 50%);
}
.project-activity-line.waiting {
	background-color: hsl(0, 0%, 70%);
}

.list input[type="radio"] {
  display: none;
}

.list label {
  padding: 2px 2px;
  /* border: 1px solid #ccc; */
  margin-bottom: 0;
  cursor: pointer;
  /* border-radius: 4px; */
  background: #f9f9f9;
  transition: background 0.2s, border-color 0.2s;
}

.list label:hover {
  background: #eee;
}

.list input[type="radio"]:checked + label {
  background: #d0e8ff;
  border-color: #3399ff;
}

.datepicker {
	border: 1px solid #007bff !important;
}