vendor/
dima/
kanboard_upd/
templates/
unused/
wiki/
*.zip
*test.php
config.php
lorem_text.txt
kanboard_settings.txt
unused_functions.js
db_conf.php
db_automator.php
excel.html
statistics.html
tickets_status.html

