vendor/
dima/
kanboard_upd/
*.zip
*test.php
config.php
lorem_text.txt
kanboard_settings.txt
composer.json
composer.lock
unused_functions.js
db_conf.php
db_automator.php
excel.html
index.html
statistics.html
tickets_status.html

